// FONT FAMILY
$font-main: "Roboto", "Arial", sans-serif;

// FONT SIZES
$font-size-caption: 11px;
$font-size-body: 13px;
$font-size-accent: 14px;
$font-size-subtitle: 19px;

// FONT WEIGHTS
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// THEME COLORS
$color-theme-primary: #3b3b3b;
$color-theme-assist: #2a65e7;

// BLACK HEX PALETTE
$color-hex-black-85: #222222;
$color-hex-black-80: #333333;
$color-hex-black-60: #666666;
$color-hex-black-50: #7f7f7f;
$color-hex-black-20: #c4c4c4;
$color-hex-black-10: #e5e5e5;
$color-hex-black-5: #f2f2f2;
$color-hex-black-4: #f6f6f6;
$color-hex-black-0: #ffffff;

// OTHER COLORS
$color-red: #d95151;
$color-red-light: #f9919a;

// TRANSITION TIME
$transition-time: 0.15s;

// LAYOUT
$navbar-width: 48px;
