@import "@/scss/variables.scss";
@import "@/scss/animations.scss";
@import "@/scss/mixins.scss";

.tooltip {
  animation: $transition-time ease-in-out forwards fadeIn;
  background-color: $color-hex-black-60;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 4px 10px;
  position: fixed;
  white-space: nowrap;
  z-index: 10000;
}

.tooltip__text {
  @include reset-description();
  @include textCaption($color: $color-hex-black-10);
}

.tooltip_light {
  background-color: $color-hex-black-4;

  .tooltip__text {
    @include textBody($color: $color-hex-black-50);
  }
}

.tooltip_unmounting {
  animation: $transition-time ease-in-out forwards fadeOut;
}
