@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

.header {
  align-items: center;
  background-color: $color-hex-black-0;
  border-bottom: 1px solid $color-hex-black-10;
  box-sizing: border-box;
  display: grid;
  grid-area: header;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 0 32px;
}

.header__intro {
  display: grid;
}

.header__title {
  @include reset-heading();
  @include textAccent($weight: $font-weight-bold);
}

.header__subtitle {
  @include reset-description();
  @include textCaption();
}

.header__content {
  display: grid;
  gap: 28px;
  grid-auto-flow: column;
}
