@import "../variables.scss";

@mixin text(
  $color: $color-hex-black-80,
  $font-family: $font-main,
  $size: $font-size-body,
  $weight: $font-weight-regular,
  $letter-spacing: 0.25px,
  $line-height: 1.5
) {
  color: $color;
  font-family: $font-family;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin textBody($color: $color-text-body, $weight: $font-weight-regular) {
  @include text($color: $color, $weight: $weight, $line-height: 20px);
}

@mixin textAccent($color: $color-text-body, $weight: $font-weight-regular) {
  @include text(
    $color: $color,
    $size: $font-size-accent,
    $weight: $weight,
    $letter-spacing: 0.3px,
    $line-height: 24px
  );
}

@mixin textCaption($color: $color-text-body, $weight: $font-weight-regular) {
  @include text(
    $color: $color,
    $size: $font-size-caption,
    $weight: $weight,
    $letter-spacing: 0.24px,
    $line-height: 16px
  );
}

@mixin textSubtitle($color: $color-text-body, $weight: $font-weight-regular) {
  @include text($color: $color, $size: $font-size-subtitle, $weight: $weight, $line-height: 28px);
}
